NEXT_PUBLIC_SUPABASE_URL=https://ipgvekzuwhscqpdeiqsw.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwZ3Zla3p1d2hzY3FwZGVpcXN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1NTAzODUsImV4cCI6MjA5NTEyNjM4NX0.LfOqXpDe6I04rVwxiYHsqPk1e_wWMYy9PEV2LXwZ4H

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwZ3Zla3p1d2hzY3FwZGVpcXN3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTU1MDM4NSwiZXhwIjoyMDk1MTI2Mzg1fQ.R4zJKpMl_L5QOs6L_TXWaUGAnK2d4SIS9Z0jXYPr-NA
